<div class="agency-detail-container">
  <div class="agency-detail">
    <div class="banner">
      <div class="banner-background"></div>
      <div class="agency-brand-image">
        <img
          src="https://i.pinimg.com/736x/35/3a/d9/353ad9619623b527859c9ce2d07dbcac.jpg"
          alt="agency brand image" />
      </div>
    </div>
    <div class="info">
      <h1>Viva Climb</h1>
      <h2>Building on belief</h2>
      <p>
        Alpine experiences, climbing, trekking <b>·</b>
        <span> Ancash, Peru</span>
      </p>
    </div>
  </div>
  <div>
    <mat-tab-group
      animationDuration="500ms"
      color="primary">
      <mat-tab label="Home">Home </mat-tab>
      <mat-tab label="About">Overview </mat-tab>
      <mat-tab label="Experiences">Experiences </mat-tab>
      <mat-tab label="Ratings">Ratings </mat-tab>
    </mat-tab-group>
  </div>
</div>
