<!-- <div class="container max-w-full p-3">
  <div class="grid xl:grid-cols-4  md:grid-cols-2 sm:grid-cols-2 ">
    <div class="flex"  *ngFor="let card of cardsData">
      <div class="item mx-2">
        <app-experience-card [cardData]="card" ></app-experience-card>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
-->

<div class="container max-w-full p-3">
  <div
    class="grid xl:grid-cols-4 md:grid-cols-2 sm:grid-cols-2">
    <div class="flex" *ngFor="let card of cardsData">
      <div class="item mx-2">
        <app-experience-card
          [cardData]="card"></app-experience-card>
      </div>
    </div>
  </div>
</div>

<!--<app-manager-profile-information></app-manager-profile-information>-->
<!--<app-agency-detail></app-agency-detail>-->

<!--<app-register-form></app-register-form>-->
