<div class="description-box">
  <div class="title">
    <ng-content select="[title]"></ng-content>
  </div>
  <div class="description">
    <p>
      Somos una multinacional tecnológica, presente en el
      mercado desde hace 20 años y operando en diez países
      de América Latina. A través de nuestras líneas de
      negocio: Digital Business, Cloud Solutions, Technology
      Platforms y CyberSecurity; ofrecemos respuestas y
      soluciones personalizadas que impactan en el negocio,
      y en la rutina de empresas y personas. <br />
      Con el uso de tecnologías emergentes, alianzas
      tecnológicas y servicios innovadores, apoyamos a
      nuestros clientes en el viaje de la transformación
      digital, en diversos sectores como, servicios
      financieros, utilities, retail, manufactura, entre
      otros.
    </p>
  </div>
</div>
