<form class="form">
  <mat-form-field class="w-full mb-5">
    <mat-label>Activity Name</mat-label>
    <input type="text" matInput [formControl]="activityFormControl" placeholder="{{activityNamePlaceholder}}">
    <mat-error *ngIf="activityFormControl.hasError('required')">
      Please enter a name for your Activity.
    </mat-error>
  </mat-form-field>
  <div class="load-image">
    <label for="dropzone-file" class="label-input-load">
      <div class="dropzone">
        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
        </svg>
        <p class="input-message"><span class="font-semibold">Click to upload</span> or drag and drop</p>
        <p class="input-types">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
      </div>
      <input id="dropzone-file" type="file" class="hidden">
    </label>
  </div>
</form>

