<mat-toolbar color="primary">
  <div class="text-white w-full flex flex-row items-center">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="w-[5rem] m-1">
      <img
        src="assets/images/brand-go2climb.png"
        alt="logo" />
    </span>
    <span> Go2Climb </span>
    <span class="flex flex-1"> </span>
    <div>Start Exploring</div>
    <span class="flex flex-1"> </span>
    <div>Start Exploring</div>
  </div>
</mat-toolbar>
